<h1>Offers</h1>

 @if (offers) {
  <!-- Adapted from https://material.angular.io/components/checkbox/examples#checkbox-reactive-forms -->
  <section class="memory-section" [formGroup]="_memory">
    <h4>Memory Capacity</h4>
    <p><mat-checkbox formControlName="8">8 GB</mat-checkbox></p>
    <p><mat-checkbox formControlName="16">16 GB</mat-checkbox></p>
    <p><mat-checkbox formControlName="32">32 GB</mat-checkbox></p>
  </section>
  
   <table class='table table-striped' aria-labelledby="tableLabel">
     <thead>
       <tr>
         <th>ID</th>
         <th>Title</th>
         <th>URL</th>
       </tr>
     </thead>
     <tbody>
       @for (offer of offers; track offer.id) {
         <tr ngFor="let offer of offers">
           <td><a [routerLink]="['/offers', offer.id]">{{ offer.id }}</a></td>
           <td>{{ offer.title }}</td>
           <td>{{ offer.url }}</td>
         </tr>  
       }
     </tbody>
   </table>
 } @else {
   <p><em>Loading...</em></p>
 }