<h1>About</h1>
<p>This website displays configurations or "models" of Woot! offers as if standalone offers themselves. This allows <strong>filtration based on hardware specifications</strong> and for <strong>price comparisons</strong> at-a-glance based on these specifications in a way that is not possible on the Woot! site.</p>
<p>This website communicates with an application that periodically pulls and stores from the <a href="https://developer.woot.com/#woot-web-developer-api" target="_blank">Woot! Developer API</a>. In practice, this means that offers displayed here may be not always be in sync with those on the Woot! website. Because of Woot! API limitations, there may be discrepancies for listings here that are decomposed configurations of actual Woot! offers. Be sure to confirm availability on the <a href="https://www.woot.com/category/computers" target="_blank">Woot! website</a> through the links provided with each offer.</p>
<p>Woot! is a retailer that deals in refurbished, returned, and overstock items. My own motivation for this site is to find deals on older business-class machines to repurpose as home servers.</p>

<h2>Is Login Required?</h2>
<p>No login is necessary to view, filter, and sort, computer offers.</p>
<p>However, an account is required to add and remove bookmarks.</p>

<h2>Disclaimer</h2>
<p>This website is not affiliated with Woot nor its parent company, Amazon. Remember to confirm product specifications, pricing, and availability with the link to the Woot! website on each offer listing.</p>
<p>Product images are the property of Woot.</p>