<header>
    <mat-toolbar>
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </button>
  
        <a mat-flat-button color="primary" [routerLink]="['/offers', 'desktops']">Desktops</a>
        <a mat-flat-button color="primary" [routerLink]="['/offers', 'laptops']">Laptops</a>
        <span class="separator"></span>
        <a mat-flat-button color="primary" [routerLink]="['/bookmarks']">Bookmarks</a>
        @if (isLoggedIn) {
          <a mat-flat-button color="primary" [routerLink]="['/login']" (click)="onLogout()">Logout</a>
        }
        @else {
          <a mat-flat-button color="primary" [routerLink]="['/login']">Login</a>
        }
    </mat-toolbar>
  </header>