<h3>Offer Item</h3>
 
 @if (offer) {
    <img src={{offer.photo}}>
     <p>
     <strong>{{offer.id}}:</strong><br/>
     Model {{offer.title}}<br/>
     at {{offer.url}}
     </p>
 }
 
 <div>
    <button mat-flat-button color="secondary" (click)="goBack()">back</button>
    @if (isBookmarked) {
      <button mat-flat-button color="secondary" (click)="removeBookmark()">Remove Bookmark</button>
    }
    @else {
      <button mat-flat-button color="secondary" (click)="bookmark()">Bookmark</button>
    }
 </div>